doctype html
html(lang="en")
    head
        title= "SGStats: Joining " + name
    body
        h1 SGStats redirect
        p= "You are now being redirected to join " + name + ". If you don't get redirected within the next few seconds, please click "
            b
                a(href="steam://connect/" + ip) here
        script.
            window.location.href = "steam://connect/#{ip}"
